* {
  margin : 0;
  font-family: 'Courier New', Courier, monospace;
}

header {
  min-height : 5vh;
  display : flex;
  justify-content : space-between;
  align-items : center;
  padding : 10px 30px;
}

main {
  width : min(90%, 1000px);
  min-height: 90vh;
  margin : 0 auto;
  margin-top : 20px;

  display : flex;
  flex-direction: column;
  row-gap: 30px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--line-about-color);
}


:root {
  --day-night-color : black;
  --gray-color : gray;
  --about-background : rgb(241, 240, 240);
  --line-about-color : rgb(197, 197, 197);
  --hover-color : rgb(221, 221, 221);
  --box-background-color : rgb(77, 77, 77);
}

body.dark {
  background-color: rgb(17, 17, 17);
  --day-night-color : white;
  --gray-color : white;
  --about-background : rgb(32, 32, 32);
  --line-about-color : rgb(226, 226, 226);
  --hover-color : rgb(29, 29, 29);
  --box-background-color : rgb(77, 77, 77);
}

body {
  background-color: white;
  --day-night-color : black;
  --gray-color : gray;
  --about-background : rgb(241, 240, 240);
  --line-about-color : rgb(34, 34, 34);
  --hover-color : rgb(221, 221, 221);
  --box-background-color : rgb(233, 233, 233);
}


