.container-resume {
  display : flex;
  flex-direction: column;
  margin-top : 20px;
}

.style-resume-container {
  padding : 10px;
  background-color : var(--box-background-color);
  margin : 15px 0;
  border-radius : 10px;
  color : var(--day-night-color);
}

.style-resume-container > p {
  margin : 10px 0;
}

.style-resume-container > .style-text-resume {
  margin-top : 10px;
  display : grid;
  grid-template-columns: auto-fit;
  grid-auto-rows: auto;
  row-gap: 25px;
}

.style-skills-resume {
  color : var(--day-night-color);
}

.style-skills-resume > p {
  margin : 10px 0;
}

.style-skills {
  margin : 15px 0;
  display : grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 60px;
  gap : 20px;
}

.img-skills-align {
  display : flex;
  align-items : center;
  background-color: var(--box-background-color);
  padding : 10px;
  border-radius : 10px;
}

.img-skills-align > img {
  width: 45px;
  margin-right : 10px;
}

.job-company, .education-title{
  font-size: 1.2em;
}

.experience-date, .education-date {
  font-size : 0.8em;
  margin : 5px 0;
}

.expercience-description {
  font-size : 0.9em;
}

.title-text-resume {
  font-size : 20px;
}