.main-right {
  width: 70%;
  display : flex;
  flex-direction: column;
}

nav {
  display : flex;
  border-bottom : 1px solid var(--gray-color);
  position : relative;
}

nav div {
  flex : 1;
  display : flex;
  justify-content : center;
}

.button-nav {
  background-color: transparent;
  border : none;
  padding : 15px 20px;
  cursor : pointer;
  transition: background-color 0.15s;
  font-size: 12px;
  font-weight: 700;
  color : var(--day-night-color);
  width: 100%;
}

.button-nav:hover {
  background-color: var(--hover-color);
}

.cointainer-button input {
  display : none;
}

nav::after {
  content: '';
  position: absolute;

  height: 5px;
  width: 33.33%;

  background-color: blueviolet;

  bottom: -3px;
  left: 0;

  transform: translateX(0);
  transition: transform 0.3s ease;
}

nav:has(input[value="projects"]:checked)::after {
    transform: translateX(0);
}

nav:has(input[value="resume"]:checked)::after {
    transform: translateX(100%);
}

nav:has(input[value="contact"]:checked)::after {
    transform: translateX(200%);
}

